@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.activities-main {
  padding: 2rem;
}

.activities-header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 2rem;
}

.activities-header h2 {
  font-size: 4rem;
  color: #666;
  background-color: hsl(210, 16%, 96%);

  /* clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%); */
  text-align: center;
  text-shadow: 1px 1px 1px #999;
}

.activities-header span {
  color: #e03131;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
  font-size: 7rem;
  font-family: 'Pangolin', cursive;

  letter-spacing: 2px;
}

.activities-info {
  font-size: 1.8rem;
}

.activities-info p:first-of-type {
  background-color: #e67700;
  padding: 0.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.activities-form {
  width: 100%;
  padding: 1.6rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-family: 'Metamorphous', cursive;
}

.activities-form select {
  font-family: 'Metamorphous', cursive;
  font-size: 1.6rem;
  padding: 0.7rem;
}

.option {
  font-family: 'Metamorphous', cursive;
  padding: 1rem;
  font-size: 1.6rem;
}

.activity-info {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.activity-card {
  padding: 2rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.activity-card h2 {
  font-size: 3rem;
  color: #e03131;
}

.activity-card h3 {
  font-size: 2rem;
}

.activity-card h3:first-of-type {
  margin-bottom: 2rem;
}

/* ----------------------Public Routines for an Activity */
.routines-body {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(250px, min-content));
  grid-template-columns: repeat(auto-fit, minmax(200px, 25%));
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
}

.routines-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  min-height: 250px;
}

.rtn-header h2 {
  margin: 0 auto;
  color: #222;
  font-size: 2rem;
  text-align: center;
  text-transform: lowercase;
}

.rtn-body {
  padding: 0.7rem;
}

.rtn-body h3:first-of-type {
  margin-bottom: 2rem;
}

.rtn-body h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

.rtn-body p {
  background-color: #e03131;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 4px;
}

.btn-publicRtn {
  margin-bottom: 2rem;
  padding: 0.7rem 1rem;
  font-family: 'Metamorphous', cursive;
  background: none;
  border: 1px solid #444;
  cursor: pointer;
}

.btn-publicRtn:hover {
  background-color: #dee2e6;
}

.description-update {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.description-update input {
  padding: 0.5rem;
  font-family: inherit;

  border: none;
  border-bottom: 1.5px solid #e03131;
}

.description-update input:focus {
  outline: none;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #e03131;
}

.description-update button {
  padding: 0.7rem 1.3rem;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #999;
  cursor: pointer;
}

.description-update button:hover {
  background-color: rgb(240, 240, 240);
}
