@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.login-body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  width: 55%;
  font-family: 'Metamorphous', cursive;
  padding: 0.7rem;
  border-radius: 10px;
  margin-right: 2rem;
}

.close {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1px;
}

.close button {
  padding: 0.4rem;
  font-family: inherit;
  background-color: #e03131;
  color: #fff;
  cursor: pointer;
  border: none;
}

.form {
  padding: 1rem;
}

.form input {
  color: white;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 5px;
  line-height: 2.2rem;
  background-color: transparent;

  border: 2px solid #e03131;
  transition: all 0.3s;
  padding: 1.3rem;
  margin-bottom: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.form input:focus {
  border: 2px solid #cc4949;
}

.edit-submit {
  font-family: inherit;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
.edit-submit:hover {
  background: #e03131;
}
