@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap');

.mainHome {
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/backgroundFitness.webp');
  background-position: center;
  background-size: 100%;
  font-family: 'Metamorphous', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  /* filter: grayscale(33%); */
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  /* align-items: center; */
  width: 95%;
  height: 100%;
  color: #fff;
  position: relative;
}

.welcome {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  /* align-items: center; */
  gap: 4rem;
}

.title {
  font-size: 4rem;
  letter-spacing: 2px;
  width: 80%;
  line-height: 1.4;
  text-transform: uppercase;
}

.title span {
  background-image: radial-gradient(
    circle 759px at -6.7% 50%,
    rgba(80, 131, 73, 1) 0%,
    rgba(140, 209, 131, 1) 26.2%,
    rgba(178, 231, 170, 1) 50.6%,
    rgba(144, 213, 135, 1) 74.1%,
    rgba(75, 118, 69, 1) 100.3%
  );
  color: transparent;
  -webkit-background-clip: text;
  font-size: 6.5rem;
  font-weight: 600;
}

/* Buttons home page */
.btn {
  font-size: 2rem;
  background-color: transparent;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  /* border: 1px solid #2f9e44; */
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

.btn a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

/* button primary */
.primary {
  border: 1px solid #2f9e44;
}

.primary a {
  color: #2f9e44;
}

.primary:hover {
  background-color: #2f9e44;
}

.primary:hover a {
  color: #fff;
}

/* button secondary */
.secondary {
  border: 1px solid #e03131;
}

.secondary a {
  color: #e03131;
}

.secondary:hover {
  background-color: #e03131;
}

.secondary:hover a {
  color: #fff;
}

.welcome h3 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 4rem;

  color: #fff;
  font-weight: 700;
  background-color: #e03131;
  width: 70%;
  text-align: center;
  text-shadow: 1px 1px 1px #222;
  border-radius: 5px;
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info-list {
  list-style: none;
  cursor: pointer;
  display: flex;
  gap: 2rem;
}

.info-list li a {
  color: white;
  font-size: 2.4rem;
  text-decoration: none;
  opacity: 0.8;
  display: inline-block;
  position: relative;
  transition: all 0.2s;
}

.info-list li a:hover {
  opacity: 1;
}

.info-list li a::before {
  content: '';
  width: 5px;
  height: 25px;
  background-color: #fff;
  display: inline-block;
  margin-right: 5px;
  background-color: #e03131;
  opacity: 0;
}

.info-list li a:hover::before {
  opacity: 1;
}

.register-btn {
  margin-left: auto;
}

.questions {
  width: 100%;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e03131;
  color: #fff;
  font-family: 'Metamorphous', cursive;
  font-size: 3rem;
  padding: 0.7rem;
  text-transform: uppercase;
}

.description {
  font-size: 3rem;
  font-family: 'Metamorphous', cursive;
}

.description h4 {
  color: #333;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #444;
  width: 50%;
  margin: 0 auto;
}

.description-list {
  border: 2px solid #000;
  background-color: #222;
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.description-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.description-list ul li {
  cursor: pointer;
  opacity: 0.8;
}

.description-list ul li:hover {
  opacity: 2;
}
