@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.logo {
  width: 50px;
  height: 50px;
  margin-left: 2rem;
}

.layout-main {
  width: 100%;
  min-height: 100vh;
  font-family: 'Metamorphous', cursive;
  display: grid;
  grid-template-rows: 13vh 77vh;
}

.layout-header {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2.4rem;
}

.layout-header h3 span {
  background-image: radial-gradient(
    circle 759px at -6.7% 50%,
    rgba(80, 131, 73, 1) 0%,
    rgba(140, 209, 131, 1) 26.2%,
    rgba(178, 231, 170, 1) 50.6%,
    rgba(144, 213, 135, 1) 74.1%,
    rgba(75, 118, 69, 1) 100.3%
  );
  color: transparent;
  -webkit-background-clip: text;
  font-size: 3.2rem;
}

.layout-body {
  display: grid;
  grid-template-columns: 16% 1fr;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .layout-body {
    grid-template-columns: 25% 1fr;
  }
}

@media screen and (max-width: 770px) {
  .layout-main {
    grid-template-rows: 7vh 7vh 1fr;
  }
  .layout-body {
    grid-template-columns: 1fr;
  }
}
