@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.login-body {
  /* background-image: url('https://images.pexels.com/photos/891252/pexels-photo-891252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
  background-color: #222;
  /* background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover; */
  min-height: 100vh;
  font-family: 'Metamorphous', cursive;
}
.text-center {
  color: #fff;
  text-transform: uppercase;
  font-size: 3.8rem;
  margin: -5rem 0 8rem 0;
  display: block;
  text-align: center;
}
.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 7rem 10rem;
}
.input-container {
  position: relative;
  margin-bottom: 2.5rem;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 2rem;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #444;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 2rem;
  color: #fff;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}
.btn {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  margin-top: 5rem;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -1.2rem;
  font-size: 1.4rem;
}
