@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Metamorphous', cursive;
}

.modal-content {
  width: 50%;
  background-color: #fff;
}

.modal-header,
.modal-footer {
  padding: 1rem;
}

.modal-title {
  margin: 0;
  font-size: 3rem;
}

.modal-body {
  padding: 1rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 2.4rem;
}

.modal-btn {
  padding: 0.7rem 1.3rem;
  font-family: inherit;
  cursor: pointer;
}
