@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.register-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* padding: 2rem; */
  height: 100%;
}

.register-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.register-info h2 {
  background-color: #333;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 6rem;
  font-family: 'Fredericka the Great', cursive;
  background-image: radial-gradient(
    circle 759px at -6.7% 50%,
    rgba(80, 131, 73, 1) 0%,
    rgba(140, 209, 131, 1) 26.2%,
    rgba(178, 231, 170, 1) 50.6%,
    rgba(144, 213, 135, 1) 74.1%,
    rgba(75, 118, 69, 1) 100.3%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.register-info p {
  color: #444;
  font-size: 1.6rem;
  text-align: center;
}

.register-info p:last-child {
  background-color: #092756;
  width: 100%;
  color: #fff;
  padding: 1rem;
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #fff;

  background-image: url('../images/pexels-pavel-danilyuk-8860977.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.register-login {
  width: 300px;
  height: 250px;
  border-radius: 10px;

  padding: 1rem;
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(
            42,
            60,
            87,
            0.4
          )
          100%),
    -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%
    ),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
}

.register-login h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.form input {
  width: 100%;
  font-family: inherit;
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.4rem;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.form input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

.register-btn {
  margin-top: 3rem;
  text-align: center;
}

.register-btn button {
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1.4rem;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(217, 81%, 19%);
  color: #fff;
}

.register-btn button:hover {
  background-color: hsl(217, 81%, 22%);
  transform: scale(0.98);
}

.register-form h4 {
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}
