@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.routines-main {
  padding: 2rem;
  margin-bottom: 2rem;
}

.routines-header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 2rem;
}

.routines-header h2 {
  font-size: 4rem;
  color: #666;
  background-color: hsl(210, 16%, 96%);
  text-align: center;
  text-shadow: 1px 1px 1px #999;
}

.routines-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  min-height: 250px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.routines-title {
  color: #e67700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 2.8rem;
  font-family: 'Pangolin', cursive;
  letter-spacing: 2px;
}

.rtn-header h2 {
  margin: 0 auto;
  color: #222;
  font-size: 2rem;
  text-align: center;
  text-transform: lowercase;
}

.rtn-body {
  padding: 0.7rem;
}

.rtn-body h3:first-of-type {
  margin-bottom: 2rem;
}

.rtn-body h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

.rtn-body p {
  background-color: #e03131;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 4px;
  font-size: 1.3rem;
}

.no-activities {
  font-size: 2.4rem;
  color: #333;
}

.link-routines {
  font-size: 1.2rem;
  position: absolute;
  color: #333;
}

.link-routines:active {
  color: #333;
}
